* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #ffe70a;
    color: rgb(255, 254, 254);
    padding: 12px 20px;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    margin-left: 140px;
    font-size: 20PX;
    /* background-color: #e8e9df; */
}

input[type=submit]:hover {
    background-color: #fced23;
}


/* .container {
    border-radius: 5px;
    background-color: #f9faf2;
    padding: 70px; */


/* } */


/* body {
    /* padding-bottom: 300px 300px 340px 340px; */


/* margin: 0 auto; */


/* width: 400px; */


/* min-width: fit-content; */


/* padding: 0px; */